doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Facebook
        link(rel='icon', href='./static/img/favicon.ico')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css')
        link(rel='stylesheet', href='./static/css/friends.css')
    body 
        nav
            .nav_left 
                a(href='#')
                    img(src='./img/fb-logo.png')
                .nav_search 
                    i.fa-sharp.fa-solid.fa-magnifying-glass
                    input(type='text', placeholder='Tìm kiếm trên Facbook')
       
            .nav_middle 
                a(href='#')
                    i.fa-solid.fa-house
                a(href='#')
                    i.fa-solid.fa-user-group
                a(href='#')
                    i.fa-solid.fa-tv
                a(href='#')
                    i.fa-solid.fa-store

            .nav_right
                a(href='#')
                    i.fa-solid.fa-plus
                a(href='#')
                    i.fa-brands.fa-facebook-messenger
                a(href='#')
                    i.fa-solid.fa-bell
                a.avatar(href='#')
                    i.fa-solid.fa-user
